body {
    background-color: rgb(249, 250, 184);
}

h1 {
    color: rgb(3, 3, 90);
    text-align: center;                
}

p {
    font-family: verdana;
    font-size: 20px;
}

img {
    border:black 1px;
    border-style: dashed;                
}

.img-rounded {
   border-radius: 30px; 
   border-style: double;
}

.color-text {
    color: cadetblue;
}